/* General Layout */
.tour-article-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    margin: 0 auto;
}

.headline,
.sub-headline {
    text-align: center;
}

.headline {
    padding-bottom: 0.5em;
}

.manchet {
    padding-bottom: 0.7em;
}

.sub-headline {
    font-weight: 400;
    font-size: 1.625em;
    line-height: 2em;
}

/* Article */
.tourdefrancearticle-billede {
    grid-row: 1;
    grid-column: 1;
    margin-bottom: -5em;
}

.article-linje1 {
    font-weight: 400;
    font-size: 1.125em;
    text-align: center;
    color: #E30613;
    padding-top: 1em;
}

.article-writer {
    font-weight: 400;
    font-size: 0.75em !important;
    line-height: 15px;
    padding-bottom: 1em;
}

.article-top {
    background-color: white;
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    padding: 0 4%;
    margin: 0 11%;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 10em;
}

.article-text {
    line-height: 1.625em;
    font-weight: 400;
    font-size: 1.125em;
    padding: 2em 25%;
}



/* Galleries & Slider */
.gallery-grid,
.slider-grid {
    display: grid;
    align-items: center;
    gap: 1em;
}

.gallery-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.slider-grid {
    grid-column: 2/3;
    grid-template-columns: repeat(1, auto);
}

.slider {
    width: 640px;
    grid-area: 1/1/2/-1;
    overflow: hidden;
    order: 1;
}

.slider img {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    display: none;
}

.slide--active {
    display: block;
    order: 2;
}

.caption {
    font-size: 0.625em;
    line-height: 1.6;
    align-self: end;
    grid-column: 3/4;
    padding-bottom: 1em;
}

#next,
#back {
    grid-area: 1/1/2/-1;
    font-size: 2.5em;
    margin: 0.5em;
    cursor: pointer;
    color: #fff;
    order: 3;
}

#next {
    justify-self: end;
}

#back {
    justify-self: start;
}

/* Maps */
.maps-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 2em;
}

.google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    grid-column: 2;
    grid-row: 1/-1;
}

.maps-caption {
    grid-column: 1;
    grid-row: 3;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 16px;
    bottom: 0;
    align-self: end;
}

.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* Media Queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    .tour-article-grid {
        padding-top: 2em;
    }

    .tourdefrancearticle-billede {
        margin-bottom: 0em;
        width: 80%;
    }

    .article-top {
        margin: 0;
        padding: 0;
    }

    .article-text {
        padding: 0 !important;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
        padding: 2em 0;
    }

    .slider {
        max-width: 600px;
    }

    .caption {
        grid-column: 1;
        grid-row: 2;
    }

    .maps-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        padding-top: 1em;
    }

    .google-map {
        grid-column: 1;
        grid-row: 1;
    }

    .maps-caption {
        grid-row: 2;
        padding-top: 1em;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) and (orientation: portrait) {
    .tour-article-grid {
        margin: 0 auto;
    }

    .article-top {
        margin: 0;
        padding: 0;
    }

    .sub-headline {
        font-weight: 400;
        font-size: 1.2em;
    }

    .tourdefrancearticle-billede {
        width: 90%;
    }

    .article-text {
        line-height: 1.5em;
        font-size: 1em;
        padding: 0 !important;
    }

    .gallery-grid {
        padding: 2em 0;
        display: flex;
        flex-direction: column;
    }

    .slider {
        max-width: 300px;
    }

    .caption {
        grid-column: 1;
        grid-row: 2;
    }

    .maps-grid {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
    }

    .google-map {
        height: 100%;
        width: 100%;
    }

    .maps-caption {
        padding-top: 1em;
    }

    #next,
    #back {
        font-size: 2em;
        margin: 0.4em;
        opacity: 80%;
    }
}